
*{

    margin: 0;
    padding: 0;
    cursor:default;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
}
.layout{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr auto;
}

nav{
    background-color: #00050d;
    height: 8vh;
    width: 100%;

}
.nav-bar{
    position: relative;
    top:0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00050d;
    height: 8vh;
    width: auto;
    margin: auto;
}
.logo img{
    width: 8vw;
}


.nav-mid-item{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-mid-item span{
    font-size: 1.3vw;
    color: rgba(255, 255, 255, 0.514);
}
.nav-mid-item img {
    filter: opacity(0.6);
}
.last-nav img{
    height: 3.5vh;
}

@media screen and (max-width: 958px) {
    .logo img{
        width: 20vw;
    }
    .nav-mid-item{
        gap: 11px;
    }
    .nav-mid-item span{
        font-size: 2.5vw;
    }
    .last-nav img{
        height: 2vh;
    }

}

.main-first{
    background-image: linear-gradient(
        to right,
        #000 40%,
        transparent 58%
      ), url("Resourse/MLP.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;

}
.front-txt-div{
    width: 50%;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30px;
    top: 50px;
}
.title-head{
    font-size: 50px;
    font-weight: 700;
    color: white;
    line-height: 50px;
    word-wrap: break-word;  
}
.title-pera{
    color: white;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 450;
}

.btn{
    margin-top: 1vw;
}
.btn button{
    padding: 1vw 4vw;
    font-size: 3vh;
    font-weight: 600;
    color: white;
    background-color: #0f79af;
    border-radius: 5px;
    cursor: pointer;
    transition:ease-in-out 0.2s;
    border: none;
}
button:hover{
    transition:ease-in-out 0.2s;
    
    background-color: #2fa9e6;
}

@media screen and (max-width: 958px) and (orientation: portrait) {

    .main-first{
        background-image: linear-gradient(
            to top,
            #000 50%,
            transparent 58%
          ), url("Resourse/MLP.jpg");
        background-size: auto;
    
    }
    .front-txt-div{
        width: 95%;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 0px;
        top: 430px;
    }
    front-txt-div span{
        display: flex;
        flex-direction: column;

    }
    .title-head{
        font-size: 7vw;
        font-weight: 700;
        line-height: 20px;
    }
    .title-pera{
        font-size: 3vw;
        text-align: center;
    }
    .btn{
        margin-top: 5vw;
    }
    .btn button{
        padding: 3vw 20vw;
        font-size: 2.5vh;
    }

}
.main-second{
    background-image: linear-gradient(
        to right,
        #000 45%,
        transparent 58%
      ), url("Resourse/TVOD_MLP_Right.jpg");
      background-position: right top;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      height: 100vh;
}


.title-head-two{
    font-weight: 700;
    font-size: 50px;
}
.title-pera-two{
    font-size: 25px;
}
.btn-two{
    padding-top: 10vh;
}
.btn-two button{
    padding: 1.2vw 8vw;
    font-size: 1.2vw;
}
@media screen and (max-width: 958px) {

    .main-second{
        background-image: linear-gradient(
            to top,
            #000 55%,
            transparent 58%
          ), url("Resourse/TVOD_MLP_Right.jpg");
        background-size: auto;
    
    }
    
    .mob-div{
        position: relative;
        top: 550px;
    }
    .title-head-two{
        font-size: 7vw;
        font-weight: 700;
        text-align: center;
        line-height: 0px;
    }
    .title-pera-two{
        font-size: 3vw;
    }

    .btn-two{
        margin-top: -50px;
    }
    .btn-two button{
        
        padding: 3vw 20vw;
        font-size: 2.2vh;
    }

}

.main-three{
    background-color: white;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}
.three{
    
    display: flex;
    position: relative;
    left: 60px;
    top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-head-three{
    color: black;
    font-size: 50px;
    width: 80%;
    font-weight: 700;
}
.title-pera-three{
    width: 80%;
    color: black;

}
.three-right{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 43%;
    position: absolute;
    top: 20px;
    right: 30px;
    gap: 7px;
}
.three-right img{
    width: 14vw;
}
.three-right img:hover{
    box-shadow: 0px 0px 10px 5px black;
}
@media screen and (max-width: 958px) {
    .main-three{
        flex-direction: column;

    }
    .three{
        left: 0px;
        top: 10px;
        text-align: center;
       
    }
    .three-right{
        width: 45%;
        grid-template-columns: auto auto;
        position: absolute;
        top: 200px;
        right: 100px;
        gap: 7px;
    }
    
    .three-right img{
        width: 20vw;
    }
    .title-head-three{
        font-size: 25px;
        width: 80%;
        font-weight: 700;
    }
    .title-pera-three{
        width: 90%;
    
    }

}
.main-fourth{
    background-image: linear-gradient(
        to left,
        #000 45%,
        transparent 58%
      ), url("Resourse/MLP_Template_Image_Left.jpg");
      background-position: right top;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      height: 100vh; 
}
.front-txt-div-four{
    width: 50%;
    padding: 1vw;
    display: block;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 50px;
}
.title-pera-four{
    display: flex;
    font-size: 25px;
    margin-bottom: 5vh;
}

.btn-four{
    margin-top: 1vh;
}
.btn-four button{
    padding: 1vw 7vw;
}
@media screen and (max-width: 958px) {
    .main-fourth{
        background-image: linear-gradient(
            to top,
            #000 45%,
            transparent 98%
          ), url("Resourse/MLP_Template_Image_Left._SX1440_CR0\,0\,865\,675_QL80_AC_FP_.jpg");
          background-size: contain;
          
    }
    .front-txt-div-four{
        width: 100%;
        right: 0px;
        top: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title-head-four{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    .title-pera-four{
        display: flex;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 5vh;
        width: 90%;
    }

    .title-pera-four{
        text-align: center;
    }
    .btn-four{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-four button{
        padding: 2vw 7vw;
        font-size: 5vw;
    }

}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    height: 23vh;
    width: 100%;
    background-color: rgb(36, 36, 36);
}
.footer img{
    width: 100px;
    position: absolute;
    top: 25px;
}
.Foot-text{
    display: flex;
    position: absolute;
    gap: 30px;
}
.Foot-text span{
    color: #2fa9e6;
}
.end{
    position: absolute;
    top: 100px;
    color: rgba(255, 255, 255, 0.507);
}
@media screen and (max-width: 958px) {
    .footer img{
        width: 100px;
    }
    .Foot-text{
        gap: 20px;
    }
    .end{
        top: 150px;
    }
}


